<!DOCTYPE html>
<html>
  <head>
    <title>Chess with Dad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'chess-board-bundle' %>
  </head>

  <body class="ChessGame">
    <%= yield %>
  </body>
</html>
